:root {
  /** general */
  --display-image: block;

  /** surface */
  --surface-maxWidth: 1000px;
  --surface-borderRadius: 8px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 3;
}
