@import "../variables";

.volumeAlertIcon {
  margin-left: 20px;
  margin-right: 10px;
  font-size: 50px;
  color: $fg;
}

.volumeAlertText {
  color: $fg;
}

.volumeAlertProgress {
  min-width: 150px;
  margin-right: 20px;
}

.volumeAlertProgress trough {
  background: #141619;
  min-height: 8px;
  border-radius: 16px;
}
.volumeAlertProgress trough slider {
  all: unset;
}

.volumeAlertProgress trough highlight {
  min-width: 8px;
  border-radius: 16px;
  background: #D0EBEE;
}