@import "../variables";
@import "window";

.systemMenuWindow {
  @extend .window;
  padding: 20px;
}

.systemMenuIconButton {
  background-color: transparent;
  min-width: 30px;
  font-size: 25px;
  margin: 0 10px 0 0;
  border-radius: 16px;
  padding: 10px 15px 10px 15px;
}

.systemMenuVolumeProgress {
  min-width: 200px;
}

.systemMenuVolumeProgress trough {
  background: #141619;
  min-height: 8px;
  border-radius: 16px;
}
.systemMenuVolumeProgress trough slider {
  all: unset;
}

.systemMenuVolumeProgress trough highlight {
  min-width: 8px;
  border-radius: 16px;
  background: #D0EBEE;
}

.audioRow {
  margin: 0 40px 0 20px;
}