@import "colors.css";

#\37 8272b6fa58f4a1abaac99321d503a20_proton_me-BAP {
    list-style-image: url("passwords.svg") !important;
}

.toolbarbutton-badge {
    background-color: var(--bg-color) !important;
    color: var(--fg-color) !important;
}
