/*

V A R I A B L E S

Here you can change the opacity level and the main color of the browser. Also the color of the selections (When you select text)

*/

:root {
    --urlbar-width:40vw;
    --srf-color-primary: #0C0E11;
    --srf-color-selection: #D0EBEE;
}

/*
G E N E R A L
*/

window,
#main-window,
#toolbar-menubar,
#TabsToolbar,
#PersonalToolbar,
#navigator-toolbox,
#sidebar-box,
#nav-bar {
    background-color: var(--srf-color-primary) !important;
    -moz-appearance: none !important;
    background-image: none !important;
    border: none !important;
    box-shadow: none !important;
}

::selection {
    background-color: var(--srf-color-selection);
    /* Text color of your selection */
    color: #141414;
}
