@import "../variables";

.appLauncher {
  background-color: $bg;
  margin: 10px;

  .appButton {
    margin: 2px 0;
    padding: 8px;
    background: $bg;
    border-radius: 8px;

    label.name {
      font-weight: bold;
      color: $fg;
    }
  }

  .selectedAppButton {
    margin: 2px 0;
    padding: 8px;
    background: $primary;
    border-radius: 8px;

    label.name {
      font-weight: bold;
      color: $fg;
    }
  }

  .searchField {
    margin-bottom: 4px;
    box-shadow: none;
    background: $bg;
  }

  .searchIcon {
    color: $fg;
    padding: 4px 4px 4px 2px;
    border: none;
    min-height: 25px;
    min-width: 30px;
  }

  .scrollWindow {
    .frame {
      border-style: none;
    }
    .trough {
      border-style: none;
    }
  }

  .not-found {

    label {
      color: $fg;
    }
  }
}