@import "../variables";

window.NotificationPopups {
  all: unset;
}

eventbox.Notification {

  &:last-child>box {
    margin-bottom: 1px;
  }

  // eventboxes can not take margins so we style its inner box instead
  >box {
    min-width: 400px;
    border-radius: 8px;
    background-color: $bg;
    margin: 5px;
    border: 2px solid $primary;
  }

  &.critical>box {
    border: 2px solid $warning;

    .header {

      .app-name {
        color: $warning;
      }

      .app-icon {
        color: $warning;
      }
    }
  }

  &.history>box {
    margin: 5px 0 5px 0;
    min-width: 0;
    border: 2px solid $bgHover;
  }

  .header {
    color: $fg;

    .app-name {
      font-weight: bold;
      margin-left: 8px;
    }

    .time {
      margin-right: 4px;
    }
  }

  .content {
    padding: 10px;

    .summary {
      font-size: 16px;
      font-weight: bold;
      color: $fg;
    }

    .body {
      color: $fg;
    }

    .image {
      border: 1px solid $fg;
      margin-right: 8px;
      border-radius: 8px;
      min-width: 100px;
      min-height: 100px;
      background-size: cover;
      background-position: center;
    }
  }

  .actions {
    button {
      background: $bg;
    }
    button:hover {
      background: $bgHover;
    }
  }
}
