@import "../variables";

.notification {
  min-width: 350px;
  margin: 10px;
}

.notification-close-button {
  background: Transparent;
}

.notification-time {
  margin-top: 2px;
}

.notification-title {
  margin-left: 10px;
  margin-right: 10px;
}

.notification-description {
  margin-left: 10px;
  margin-right: 10px;
}