@import "../variables";
@import "window";

.systemMenuIconButton {
  background-color: transparent;
  min-width: 30px;
  font-size: 25px;
  margin: 0 10px 0 0;
  border-radius: 16px;
  padding: 10px 15px 10px 15px;
  color: $fg;
  border: 0;
}

.systemMenuIconButton:hover {
  background-color: $bgHover;
}

.systemMenuVolumeProgress {
  min-width: 200px;
  margin-right: 20px;
}

.systemMenuVolumeProgress trough {
  background: $sliderTrough;
  min-height: 8px;
  border-radius: 16px;
}
.systemMenuVolumeProgress trough slider {
  all: unset;
}

.systemMenuVolumeProgress trough highlight {
  min-width: 8px;
  border-radius: 16px;
  background: $fg;
}

.row {
  margin: 0 20px 0 20px;
}