@use "../variables" as vars;

.wallpaper {
  margin: 8px;
  border-radius: 8px;
  border: 2px solid vars.$fg;
}

.wallpaper:hover {
  border: 2px solid vars.$primary;
}

.wallpaperButton {
  color: transparent;
  background: transparent;
}