@use "../variables" as vars;

.window {
    background-color: vars.$bg;
    border-radius: 8px;
    border-color: vars.$primary;
    border-width: 2px;
    border-style: solid;
}

.focusedWindow {
    background-color: vars.$bg;
    border-radius: 8px;
    border-color: vars.$fg;
    border-width: 2px;
    border-style: solid;
}