@import "../variables";
@import "window";

.systemMenuIconButton {
  all: unset;
  background-color: transparent;
  min-width: 30px;
  font-size: 25px;
  margin: 0 10px 0 0;
  border-radius: 16px;
  padding: 10px 15px 10px 15px;
  color: $fg;
  border: 0;
}

.systemMenuIconButton:hover {
  background-color: $bgHover;
}

.systemMenuVolumeProgress {
  all: unset;
  min-width: 200px;
  margin-right: 20px;
}

.systemMenuVolumeProgress trough {
  all: unset;
  background: $sliderTrough;
  min-height: 8px;
  border-radius: 16px;
}
.systemMenuVolumeProgress trough slider {
  all: unset;
}

.systemMenuVolumeProgress trough highlight {
  all: unset;
  min-width: 8px;
  border-radius: 16px;
  background: $fg;
}

.row {
  margin: 0 20px 0 20px;
}

.audioSelectionLabel {
  all: unset;
  padding: 6px;
  min-width: 24px;
  color: $fg;
}

.audioSelectionButton {
  all: unset;
  color: $fg;
  background-color: $bg;
  min-width: 250px;
  min-height: 30px;
  margin: 6px;
  border: 0;
}

.audioSelectionButton:hover {
  background-color: $bgHover;
}

.audioRevealer {
  padding: 6px 30px 6px 30px;
}