<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>eddited customizer</title>

    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/solar/bootstrap.min.css">
    <link rel="stylesheet" href="./app/lib/styles.css?v=1.0.2a">
  </head>

  <body>
    <div id="edditor">

      <!-- NavBar -->
      <header class="navbar navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#">Eddited</a>
          <span class="mr-3">v{{ version }}</span>

          <!-- Compile Button -->
          <a href="#" class="btn btn-sm btn-success mr-auto" @click="quickCompile">Compile</a>

          <preset-loader @input="updated"></preset-loader>
        </div>
      </header>

      <!-- Container -->
      <div class="container pt-3 pb-5">
        <div class="row">

          <!-- Sidebar -->
          <div class="col-12 col-sm-4 col-md-2">

            <!-- Section Nav -->
            <div class="nav flex-column nav-pills" id="pg-tab" role="tablist" aria-orientation="vertical">
              <page-link to="welcome" class="active">Welcome</page-link>
              <page-link to="colors">Colors</page-link>
              <page-link to="header">Header</page-link>
              <page-link to="content">Content</page-link>
              <page-link to="sidebar">Sidebar</page-link>
              <page-link to="compile">Compile</page-link>
              <page-link to="export">Export</page-link>
              <page-link to="import">Import</page-link>
            </div>

          </div>

          <!-- Content -->
          <div class="col-12 col-sm-8 col-md-10">
            <div class="tab-content" id="pg-tabContent">

              <page name="welcome" class="show active">
                <h1>Eddited Customizer</h1>
                <p>
                  <strong><a href="https://reddit.com/r/eddited">r/eddited</a></strong> is a subreddit theme I built to be as customizeable as possible. I realize that not everyone's tastes are my own, so you can tweak things to your liking.
                </p>

                <p>Use the navigation links on the left to go to any section you would like! You can also use the preset loader in the top right to choose various starting points.</p>

                <p>Each tab comes with a preview to help you visualize the changes you are making before you put them live on a subreddit.</p>

                <div class="mt-5 text-center">
                  <page-next class="btn-lg" style="float: none !important;" to="colors"></page-next>
                </div>
              </page>

              <page name="colors">
                <h1>Colors</h1>
                <preview-colors :css="css"></preview-colors>

                <div class="conf row">
                  <h5 class="col-12 my-3">General Colors</h5>
                  <color label="Background" v-model="color_background"></color>
                  <color label="Text" v-model="color_text"></color>
                  <color label="Header Submenu" v-model="color_submenu"></color>
                  <color label="Submenu Text" v-model="color_submenu_text"></color>

                  <h5 class="col-12 my-3">Primary Colors</h5>
                  <color label="Thumbnail" v-model="color_thumbnail"></color>
                  <color label="Upvote" v-model="color_upvote"></color>
                  <color label="Downvote" v-model="color_downvote"></color>
                  <color label="NSFW" v-model="color_nsfw"></color>
                  <color label="Locked" v-model="color_locked"></color>
                  <color label="Stickied" v-model="color_stickied"></color>
                  <color label="Red Flair" v-model="color_red_flair"></color>
                  <color label="Green Flair" v-model="color_green_flair"></color>

                  <h5 class="col-12 my-3">Link Colors</h5>
                  <color label="Link" v-model="color_link"></color>
                  <color label="Visited Link" v-model="color_visited"></color>
                  <color label="Button Background" v-model="color_button"></color>
                  <color label="Button Text" v-model="color_button_text"></color>
                </div>

                <page-next to="header"></page-next>
              </page>

              <page name="header">
                <h1>Header</h1>

                <preview-header :css="css" v-if="enable_header_box">
                  {{ text_header_box }}
                  <preview-headline slot="more" :css="css" v-if="enable_headline_box">
                    Your Message Here! (From Sidebar)
                  </preview-headline>
                </preview-header>

                <div class="conf row">
                  <h5 class="col-12 my-3">Submenu Fade</h5>
                  <toggle label="Fade Out Top Bar" v-model="enable_submenu_fade">
                    Only shows the "All / Front / Subreddits" bar on hover
                  </toggle>
                  <h5 class="col-12 my-3">Expanded Header</h5>
                  <toggle label="Big Header" v-model="enable_header_box">
                    Enables an expanded header area above the content.
                  </toggle>
                </div>

                <div class="conf row" v-if="enable_header_box">
                  <string label="Expanded Height" v-model="header_box_height"></string>
                  <color label="Background Color" v-model="header_box_bg_color"></color>
                  <color label="Text Color" v-model="header_box_text_color"></color>
                  <string label="Header Text" v-model="text_header_box"></string>
                  <toggle label="Background Image" v-model="header_box_bg_image">
                    Use a header background image. <small><em>(named "header")</em></small>
                  </toggle>
                  <toggle label="Animate Background Image" v-model="header_box_bg_scroll"
                    v-if="header_box_bg_image">
                    Makes the header image scroll left.
                  </toggle>
                  <toggle label="Only Animate on Hover" v-model="header_box_bg_scroll_hover"
                    v-if="header_box_bg_image && header_box_bg_scroll">
                    Only show the scrolling background image on hover.
                  </toggle>
                </div>

                <!-- Tabmenu -->
                <div class="conf row">
                  <h5 class="col-12 my-3">Tabmenu</h5>
                  <toggle label="Tabmenu as dropdown" v-model="enable_tabmenu_dropdown">
                    Turns the "hot/new/top" tabs into a dropdown.
                  </toggle>
                </div>

                <!-- Announcement -->
                <div class="conf row">
                  <h5 class="col-12 my-3">Announcement Box</h5>
                  <toggle label="Enable Announcement Box" v-model="enable_headline_box">
                    Add " <code># Your Message Here</code> " at the top of your sidebar.
                  </toggle>
                </div>

                <div class="conf row" v-if="enable_headline_box">
                  <color label="Background Color" v-model="headline_box_bg_color"></color>
                  <color label="Text Color" v-model="headline_box_text_color"></color>
                </div>

                <page-back to="colors"></page-back>
                <page-next to="content"></page-next>
              </page>

              <page name="content">
                <h1>Content</h1>

                <div :style="css.bodyMargin" v-if="enable_body_margin">
                  <preview-colors :css="css"></preview-colors>
                </div>
                <preview-colors :css="css" v-if="!enable_body_margin"></preview-colors>

                <div class="conf row mt-3">
                  <toggle label="Enable Page Margin" v-model="enable_body_margin">
                    Adds a border around the content of the page.
                  </toggle>
                  <string label="Margin Width" v-model="width_body_margin"
                    v-if="enable_body_margin"></string>
                  <color label="Margin BG Color" v-model="color_body_margin"
                    v-if="enable_body_margin"></color>
                </div>
                <div class="conf row">
                  <toggle label="Show NSFW Thumbnails" v-model="enable_nsfw_thumbnails">
                    Show NSFW thumbnails. (For NSFW subs.)
                  </toggle>
                  <string label="Thumbnail Width" v-model="width_thumbnail"></string>
                  <string label="Thumbnail Height" v-model="height_thumbnail"></string>
                  <string label="Subreddit Prefix" v-model="text_sub_prefix"></string>
                </div>

                <page-back to="header"></page-back>
                <page-next to="sidebar"></page-next>
              </page>

              <page name="sidebar">
                <h1>Sidebar</h1>

                <preview-sidebar :css="css">
                  <div class="row">
                    <div class="col-6">
                      <strong>4 {{ text_here_now }}</strong>
                    </div>
                    <div class="col-6 text-right">
                      <strong>100 {{ text_subscribers }}</strong>
                    </div>
                    <div :class="css.submitBtn">
                      <div class="box" :style="css.obutton">Show</div>
                    </div>
                    <div :class="css.submitBtn">
                      <div class="box" :style="css.obutton">Tell</div>
                    </div>
                  </div>
                </preview-sidebar>

                <div class="conf row">
                  <toggle label="Sidebar Image" v-model="enable_sidebar_image">
                    Show a sidebar image. <small><em>(named "sidebar")</em></small>
                  </toggle>
                  <string label="Sidebar Width" v-model="width_sidebar"></string>
                  <string v-if="enable_sidebar_image"
                    label="Sidebar Image Height" v-model="sidebar_image_height"></string>
                  <toggle label="Split Submit Buttons" v-model="enable_split_submit_buttons">
                    Put the Submit Text/Link buttons on one line.
                  </toggle></div>

                <page-back to="content"></page-back>
                <page-next to="compile"></page-next>
              </page>

              <page name="compile">
                <h1>Compile Theme</h1>

                <compile-theme @input="compiled"></compile-theme>

                <h1 class="mt-5">Rough Sketch</h1>
                <div class="full-preview" :style="css.bodyMargin">
                  <div class="header">
                    <preview-header :css="css" v-if="enable_header_box">
                      {{ text_header_box }}
                    </preview-header>
                    <preview-headline :css="css" v-if="enable_headline_box">
                      Your Message Here! (From Sidebar)
                    </preview-headline>
                  </div>
                  <div class="content" :style="css.content">
                    <preview-colors :css="css"></preview-colors>
                  </div>
                  <preview-sidebar :css="css">
                    <div class="row">
                      <div class="col-6">
                        <strong>4 {{ text_here_now }}</strong>
                      </div>
                      <div class="col-6 text-right">
                        <strong>100 {{ text_subscribers }}</strong>
                      </div>
                      <div :class="css.submitBtn">
                        <div class="box" :style="css.obutton">Show</div>
                      </div>
                      <div :class="css.submitBtn">
                        <div class="box" :style="css.obutton">Tell</div>
                      </div>
                    </div>
                  </preview-sidebar>
                </div>

                <page-back to="sidebar"></page-back>
                <page-next to="export"></page-next>
              </page>

              <page name="export">
                <h1>Export Settings</h1>

                <p>This is a copy of all the settings you have configured.</p>
                <p>Copy this, save it in a text file, and use it to import your settings.</p>

                <export-settings :config="exported">{{ exported }}</export-settings>

                <page-back to="compile"></page-back>
              </page>

              <page name="import">
                <h1>Import Settings</h1>

                <p>You should have a text file saved containing your previously used settings.</p>
                <p>Paste your text file contents here to import them.</p>

                <import-settings @input="imported"></import-settings>
              </page>


            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="alert alert-warning"></div>
    <div class="alert alert-success"></div>

    <!-- Vendor Scripts -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js">
      </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js">
      </script>
    <script src="./node_modules/less/dist/less.min.js"></script>
    <script src="./app/less/clean-css-v4.1.9.js"></script>
    <!-- End Vendor Scripts -->



    <script src="./app/vue/routing.js?v=1.0.2a"></script>
    <script src="./app/vue/options.js?v=1.0.2a"></script>
    <script src="./app/vue/preview.js?v=1.0.2a"></script>
    <script src="./app/vue/setting.js?v=1.0.2a"></script>
    <script src="./app/lib/presets.js?v=1.0.2a"></script>
    <script src="./app/vue/compile.js?v=1.0.2a"></script>

    <script src="./app/lib/scripts.js?v=1.0.2a"></script>
  </body>

</html>
