window {
    background-color: transparent;
}

.bar_class {
    background-color: #0C0E11;
    border-radius: 4px;
    border-color: #52677C;
    border-width: 2px;
    border-style: solid;
}

.workspace_button {
    background-color: transparent;
    color: #D0EBEE;
}

.rightSideModule {
    background: transparent;
}

.rightSideIcon {
    background: transparent;
    color: #D0EBEE;
    padding: 0px 15px 0px 15px;
}

.volbar {
    margin-right:20px;
}

.volbar slider {
    box-shadow: 0 0 0 2px #D0EBEE inset;
}

.volbar trough highlight {
    background: #D0EBEE;
    border-radius: 10px;
    padding-left: 100px;
}

.power_option {
    background: transparent;
    padding: 0px 15px 0px 15px;
    color: #D0EBEE;
}

.clock {
    background: transparent;
    color: #D0EBEE;
    font-weight: bold;
    margin-left: 10px;
}

.weatherLabel {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
}

.weather {
    font-size: 14px;
    font-weight: bold; 
    margin-left: 10px;
    margin-top: 10px;
}

.calendar {
    background-color: #0C0E11;
    border-radius: 4px;
    border-color: #52677C;
    border-width: 2px;
    border-style: solid;
    font-weight: bold;
}