.iconButton {
  background-color: transparent;
  color: #D0EBEE;
  padding: 4px 4px 4px 2px; }

.primaryButton {
  background-color: #141619;
  color: #D0EBEE;
  border-radius: 8px;
  padding: 8px;
  min-width: 200px; }

.window {
  background-color: #0C0E11;
  border-radius: 8px;
  border-color: #52677C;
  border-width: 2px;
  border-style: solid; }

.systemMenuIconButton {
  background-color: transparent;
  min-width: 30px;
  font-size: 25px;
  margin: 0 10px 0 0;
  border-radius: 16px;
  padding: 10px 15px 10px 15px;
  color: #D0EBEE; }

.systemMenuVolumeProgress {
  min-width: 200px;
  margin-right: 20px; }

.systemMenuVolumeProgress trough {
  background: #141619;
  min-height: 8px;
  border-radius: 16px; }

.systemMenuVolumeProgress trough slider {
  all: unset; }

.systemMenuVolumeProgress trough highlight {
  min-width: 8px;
  border-radius: 16px;
  background: #D0EBEE; }

.row {
  margin: 0 20px 0 20px; }

.alertIcon {
  margin-left: 20px;
  margin-right: 10px;
  font-size: 50px;
  color: #D0EBEE; }

.alertText {
  color: #D0EBEE; }

.alertProgress {
  min-width: 150px;
  margin-right: 20px; }

.alertProgress trough {
  background: #141619;
  min-height: 8px;
  border-radius: 16px; }

.alertProgress trough slider {
  all: unset; }

.alertProgress trough highlight {
  min-width: 8px;
  border-radius: 16px;
  background: #D0EBEE; }

.window {
  background-color: #0C0E11;
  border-radius: 8px;
  border-color: #52677C;
  border-width: 2px;
  border-style: solid; }

.labelSmall {
  color: #D0EBEE;
  font-size: 12px; }

.labelMedium {
  color: #D0EBEE;
  font-size: 16px; }

.labelLarge {
  color: #D0EBEE;
  font-size: 20px; }

.calendar {
  border-color: transparent;
  border-radius: 16px; }

.notification {
  min-width: 350px;
  margin: 10px; }
