.iconButton, .menuButton {
  background-color: transparent;
  color: #D0EBEE;
  padding: 4px 4px 4px 2px; }

.menuButton {
  margin-top: 6px; }

.window, .systemMenuWindow {
  background-color: #0C0E11;
  border-radius: 8px;
  border-color: #52677C;
  border-width: 2px;
  border-style: solid; }

.systemMenuIconButton {
  background-color: transparent;
  min-width: 30px;
  font-size: 25px;
  margin: 0 10px 0 0;
  border-radius: 16px;
  padding: 10px 15px 10px 15px; }

.systemMenuVolumeProgress {
  min-width: 200px;
  margin-right: 20px; }

.systemMenuVolumeProgress trough {
  background: #141619;
  min-height: 8px;
  border-radius: 16px; }

.systemMenuVolumeProgress trough slider {
  all: unset; }

.systemMenuVolumeProgress trough highlight {
  min-width: 8px;
  border-radius: 16px;
  background: #D0EBEE; }

.row {
  margin: 0 20px 0 20px; }

.volumeAlertIcon {
  margin-left: 20px;
  margin-right: 10px;
  font-size: 50px;
  color: #D0EBEE; }

.volumeAlertText {
  color: #D0EBEE; }

.volumeAlertProgress {
  min-width: 150px;
  margin-right: 20px; }

.volumeAlertProgress trough {
  background: #141619;
  min-height: 8px;
  border-radius: 16px; }

.volumeAlertProgress trough slider {
  all: unset; }

.volumeAlertProgress trough highlight {
  min-width: 8px;
  border-radius: 16px;
  background: #D0EBEE; }

.window, .systemMenuWindow {
  background-color: #0C0E11;
  border-radius: 8px;
  border-color: #52677C;
  border-width: 2px;
  border-style: solid; }
