window.bar {
  background-color: #0C0E11;
  border-radius: 8px;
  border-color: #52677C;
  border-width: 2px;
  border-style: solid;
  margin: 5px; }

.workspace_button {
  background-color: transparent;
  color: #D0EBEE;
  padding: 4px 2px 4px 2px; }
